@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Black.woff2") format("woff2"), url("../fonts/HelveticaNeue-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-BlackItalic.woff2") format("woff2"), url("../fonts/HelveticaNeue-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-HeavyItalic.woff2") format("woff2"), url("../fonts/HelveticaNeue-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Heavy.woff2") format("woff2"), url("../fonts/HelveticaNeue-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-BoldItalic.woff2") format("woff2"), url("../fonts/HelveticaNeue-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeue-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-MediumItalic.woff2") format("woff2"), url("../fonts/HelveticaNeue-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-LightItalic.woff2") format("woff2"), url("../fonts/HelveticaNeue-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Light.woff2") format("woff2"), url("../fonts/HelveticaNeue-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-ThinItalic.woff2") format("woff2"), url("../fonts/HelveticaNeue-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Thin.woff2") format("woff2"), url("../fonts/HelveticaNeue-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-UltraLightItalic.woff2") format("woff2"), url("../fonts/HelveticaNeue-UltraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-UltraLight.woff2") format("woff2"), url("../fonts/HelveticaNeue-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Italic.woff2") format("woff2"), url("../fonts/HelveticaNeue-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeue-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue";
}

body {
  min-width: 320px;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

div.wrapper {
  width: 95%;
  margin: 0 auto;
}

@keyframes enlarge {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
header {
  height: 80px;
  background-color: #fcf5eb;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
header div.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header div.wrapper div.hamburger {
  display: none;
}
header div.wrapper div.logo {
  width: 130px;
  display: block;
}
header div.wrapper div.logo img {
  display: block;
  width: 100%;
}
header div.wrapper nav ul {
  display: flex;
  align-items: center;
}
header div.wrapper nav ul li {
  margin-right: 35px;
  position: relative;
}
header div.wrapper nav ul li a {
  font-size: 16px;
  font-family: "Helvetica Neue";
}
header div.wrapper nav ul li::after {
  content: "";
  background: #25d366;
  height: 3px;
  position: absolute;
  bottom: -5.5px;
  left: 0;
  width: 100%;
  animation: enlarge 0.5s 1;
  display: none;
}
header div.wrapper nav ul li:hover::after {
  display: block;
}
header div.wrapper div.right {
  display: flex;
  align-items: center;
}
header div.wrapper div.right a {
  display: flex;
  align-items: center;
  margin-right: 25px;
  padding: 18px 30px;
  border: 1px solid #000;
  border-radius: 32px;
  background-color: #fff;
}
header div.wrapper div.right a:last-child {
  background-color: #25d366;
  margin-right: 0;
}
header div.wrapper div.right a:hover {
  cursor: pointer;
}
header div.wrapper div.right a span.text {
  font-size: 16px;
  font-family: "Helvetica Neue";
  margin-right: 10px;
}
header div.wrapper div.right a span.img {
  width: 15px;
  display: block;
}
header div.wrapper div.right a span.img svg {
  width: 100%;
  display: block;
}
header div.hamburger-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background: #fff;
  overflow-x: hidden;
  transition: 0.35s;
}
header div.hamburger-menu div.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
header div.hamburger-menu nav.mobile-nav ul li {
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0px 20px;
}
header div.hamburger-menu nav.mobile-nav ul li a {
  font-size: 20px;
}
header div.hamburger-menu div.footer {
  padding: 40px 0;
  background: #111b21;
}
header div.hamburger-menu div.footer div.top {
  border-bottom: 1px solid #33463f;
}
header div.hamburger-menu div.footer div.top div.wrapper {
  display: block;
  display: flex;
  justify-content: space-between;
  padding: 10px 0 40px;
}
header div.hamburger-menu div.footer div.top div.wrapper a.download {
  display: flex;
  align-items: center;
  padding: 18px 30px;
  border: 1px solid #000;
  border-radius: 32px;
  background-color: #25d366;
}
header div.hamburger-menu div.footer div.top div.wrapper div.social {
  margin-right: 80px;
}
header div.hamburger-menu div.footer div.top div.wrapper div.social ul {
  display: flex;
  align-items: center;
}
header div.hamburger-menu div.footer div.top div.wrapper div.social ul li {
  margin-right: 10px;
}
header div.hamburger-menu div.footer div.top div.wrapper div.social ul li a {
  color: #fff;
  padding: 10px;
  margin-right: 15px;
  border-radius: 50%;
  background: #1c1e21;
  border: 1px solid #fff;
  width: 20px;
  height: 20px;
  display: block;
}
header div.hamburger-menu div.footer div.top div.wrapper div.social ul li a svg {
  display: block;
  width: 100%;
  height: 100%;
}
header div.hamburger-menu div.footer div.top div.wrapper div.social ul li a:first-child svg {
  display: block;
  width: 100%;
  height: 100%;
}
header div.hamburger-menu div.footer div.bottom {
  padding-top: 40px;
  color: #fff;
  font-size: 12px;
}
header div.hamburger-menu div.footer div.bottom div.wrapper div.terms a {
  color: #fff;
}
header div.hamburger-menu div.footer div.bottom div.wrapper div.lang {
  padding: 14px 28px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #fff;
  border-radius: 32px;
}
header div.hamburger-menu div.footer div.bottom div.wrapper div.lang span.lang-name {
  margin-right: 80px;
}

#home {
  background-color: #fcf5eb;
  padding: 105px 0 25px;
}
#home div.wrapper div.container {
  background-image: url("../images/home-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 32px;
  margin-bottom: 15px;
}
#home div.wrapper div.container div.left {
  width: 320px;
}
#home div.wrapper div.container div.left div.top {
  margin-bottom: 80px;
}
#home div.wrapper div.container div.left div.top h2 {
  font-size: 80px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  color: #fff;
}
#home div.wrapper div.container div.left div.top p {
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  font-family: "Helvetica Neue";
  font-weight: 300;
}
#home div.wrapper div.container div.left div.bottom {
  display: flex;
  align-items: center;
}
#home div.wrapper div.container div.left div.bottom a {
  display: flex;
  align-items: center;
  padding: 18px 30px;
  border: 1px solid #000;
  border-radius: 32px;
  background-color: #fff;
}
#home div.wrapper div.container div.left div.bottom a:first-child {
  background-color: #25d366;
  margin-right: 25px;
}
#home div.wrapper div.container div.left div.bottom a:hover {
  cursor: pointer;
}
#home div.wrapper div.container div.left div.bottom a span.text {
  font-size: 16px;
  font-family: "Helvetica Neue";
  margin-right: 10px;
}
#home div.wrapper div.container div.left div.bottom a span.img {
  width: 15px;
  display: block;
}
#home div.wrapper div.container div.left div.bottom a span.img svg {
  width: 100%;
  display: block;
}
#home div.wrapper div.container div.right {
  width: 420px;
}
#home div.wrapper div.container div.right img {
  width: 100%;
  display: block;
}
#home div.wrapper div.container div.right img:nth-child(2) {
  margin-top: -20px;
}
#home div.wrapper div.container div.right img:nth-child(3) {
  margin-top: -30px;
}
#home div.wrapper div.container div.right img:nth-child(4) {
  margin-bottom: 8px;
}
#home div.wrapper div.container div.right img:nth-child(6) {
  margin-top: -20px;
}
#home div.wrapper p.note {
  font-size: 12px;
  font-family: "Helvetica Neue";
  color: #7e7d7d;
  text-align: right;
}

#desc {
  background: #fcf5eb;
  padding: 25px 0;
}
#desc div.wrapper img {
  width: 100%;
  display: block;
}
#desc div.wrapper img:nth-child(2) {
  display: none;
}
#desc div.wrapper img:nth-child(5) {
  display: none;
}
#desc div.wrapper p {
  font-size: 56px;
  line-height: 52px;
  letter-spacing: -0.03em;
  font-family: "Helvetica Neue";
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
  padding: 60px 0;
}

#features {
  background: #fcf5eb;
  padding: 25px 0;
}
#features div.item div.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 60px 0;
}
#features div.item div.wrapper div.item-desc {
  width: 35%;
}
#features div.item div.wrapper div.item-desc h3 {
  font-size: 60px;
  line-height: 66px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  margin-bottom: 20px;
}
#features div.item div.wrapper div.item-desc p {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  font-family: "Helvetica Neue";
  margin-bottom: 35px;
}
#features div.item div.wrapper div.item-desc a {
  font-family: "Helvetica Neue";
  display: flex;
  align-items: center;
  font-size: 18px;
  position: relative;
}
#features div.item div.wrapper div.item-desc a:hover {
  color: #25d366;
}
#features div.item div.wrapper div.item-desc a span.text {
  margin-right: 10px;
}
#features div.item div.wrapper div.item-desc a span.text::after {
  content: "";
  background: #25d366;
  height: 2px;
  position: absolute;
  bottom: -5.5px;
  left: 0;
  width: 90px;
}
#features div.item div.wrapper div.item-img {
  width: 40%;
  display: flex;
  justify-content: center;
}
#features div.item:nth-child(even) div.wrapper {
  flex-direction: row-reverse;
}
#features div.item:nth-child(2) {
  background: #111B21;
}
#features div.item:nth-child(2) div.wrapper div.item-desc h3 {
  color: #fff;
}
#features div.item:nth-child(2) div.wrapper div.item-desc h3 span {
  color: #25d366;
}
#features div.item:nth-child(2) div.wrapper div.item-desc p {
  color: #fff;
}
#features div.item:nth-child(2) div.wrapper div.item-desc a {
  color: #fff;
}
#features div.item:nth-child(3) div.wrapper div.item-img img.main, #features div.item:nth-child(4) div.wrapper div.item-img img.main {
  position: relative;
}
#features div.item:nth-child(3) div.wrapper div.item-img img.sub, #features div.item:nth-child(4) div.wrapper div.item-img img.sub {
  position: absolute;
  margin-top: 80px;
  height: 78%;
}
#features div.item:nth-child(4) div.wrapper div.item-img img.sub {
  margin-top: 140px;
  padding-top: 50px;
  width: 25%;
  height: 50%;
}

footer {
  background: #111b21;
  padding: 80px 0 35px;
}
footer div.wrapper {
  width: 83%;
}
footer div.wrapper div.mobile-download {
  height: 60px;
  display: none;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #616060;
}
footer div.wrapper div.mobile-download a {
  padding: 16px 28px;
  width: 160px;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 32px;
  background-color: #25d366;
}
footer div.wrapper div.mobile-social {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  border-bottom: 1px solid #616060;
}
footer div.wrapper div.mobile-social ul {
  display: flex;
  align-items: center;
}
footer div.wrapper div.mobile-social ul li {
  margin-right: 30px;
}
footer div.wrapper div.mobile-social ul li a {
  color: #fff;
  width: 15px;
  height: 15px;
  display: block;
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: #1c1e21;
}
footer div.wrapper div.mobile-social ul li a svg {
  display: block;
  width: 100%;
  height: 100%;
}
footer div.wrapper div.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
footer div.wrapper div.top div.logo {
  display: block;
  width: 20%;
}
footer div.wrapper div.top div.logo div.logo-container {
  display: block;
  width: 160px;
  margin-bottom: 100px;
}
footer div.wrapper div.top div.logo div.logo-container img {
  width: 100%;
  display: block;
}
footer div.wrapper div.top div.logo a {
  display: flex;
  align-items: center;
  padding: 16px 28px;
  width: 160px;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 32px;
  background-color: #25d366;
}
footer div.wrapper div.top div.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
}
footer div.wrapper div.top div.links div.column {
  width: 25%;
}
footer div.wrapper div.top div.links div.column h6 {
  font-size: 12px;
  color: #fff;
  font-weight: normal;
  margin-bottom: 40px;
}
footer div.wrapper div.top div.links div.column ul li {
  margin-bottom: 20px;
}
footer div.wrapper div.top div.links div.column ul li a {
  color: #fff;
  font-size: 16px;
}
footer div.wrapper div.top div.down-social-max1024 {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
footer div.wrapper div.top div.down-social-max1024 a {
  display: flex;
  align-items: center;
  padding: 16px 28px;
  width: 160px;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 32px;
  background-color: #25d366;
}
footer div.wrapper div.top div.down-social-max1024 div.social ul {
  display: flex;
  align-items: center;
}
footer div.wrapper div.top div.down-social-max1024 div.social ul li {
  margin-right: 30px;
}
footer div.wrapper div.top div.down-social-max1024 div.social ul li a {
  color: #fff;
  width: 50px;
  height: 50px;
  display: block;
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: #1c1e21;
}
footer div.wrapper div.top div.down-social-max1024 div.social ul li a svg {
  display: block;
  width: 100%;
  height: 100%;
}
footer div.wrapper div.bottom {
  border-top: 0.2px solid #616060;
  padding-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer div.wrapper div.bottom div.left {
  display: flex;
  align-items: center;
}
footer div.wrapper div.bottom div.left div.copy {
  margin-right: 40px;
}
footer div.wrapper div.bottom div.left div.copy p {
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  max-width: 100px;
}
footer div.wrapper div.bottom div.left div.terms {
  margin-right: 40px;
  display: flex;
  align-items: center;
}
footer div.wrapper div.bottom div.left div.terms a {
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  margin-right: 20px;
  max-width: 90px;
  display: block;
}
footer div.wrapper div.bottom div.left div.social ul {
  display: flex;
  align-items: center;
}
footer div.wrapper div.bottom div.left div.social ul li {
  margin-right: 30px;
}
footer div.wrapper div.bottom div.left div.social ul li a {
  color: #fff;
  width: 20px;
  height: 20px;
  display: block;
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: #1c1e21;
}
footer div.wrapper div.bottom div.left div.social ul li a svg {
  display: block;
  width: 100%;
  height: 100%;
}
footer div.wrapper div.bottom div.right div.button {
  width: 150px;
  padding: 14px 24px;
  border: 2px solid #fff;
  border-radius: 32px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media all and (max-width: 1200px) {
  header {
    height: 60px;
  }
  header div.wrapper div.hamberger {
    display: block;
  }
  header div.wrapper div.logo {
    width: 100px;
  }
  header div.wrapper nav {
    display: none;
  }
  header div.wrapper div.right a {
    display: none;
  }
  header div.wrapper div.right a:last-child {
    display: block;
    padding: 6px;
  }
  header div.wrapper div.right a:last-child span.text {
    display: none;
  }
}
@media all and (max-width: 1024px) {
  #home div.wrapper div.container {
    flex-direction: column-reverse;
    align-items: start;
    padding: 0px 30px;
    background-size: 300%;
    background-position: 45% 20%;
  }
  #home div.wrapper div.container div.right {
    margin-top: 330px;
  }
  #home div.wrapper div.container div.right img:nth-child(4) {
    display: none;
  }
  #home div.wrapper div.container div.right img:nth-child(5) {
    display: none;
  }
  #home div.wrapper div.container div.right img:nth-child(6) {
    display: none;
  }
  #home div.wrapper div.container div.right img:nth-child(7) {
    display: none;
  }
  #home div.wrapper div.container div.left div.top h2 {
    font-size: 64px;
  }
  #home div.wrapper div.container div.left div.top p {
    font-size: 16px;
    font-weight: 400;
  }
  #home div.wrapper div.container div.left div.bottom a {
    margin-bottom: 100px;
  }
  #home div.wrapper div.container div.left div.bottom a:nth-child(2) {
    display: none;
  }
  #desc div.wrapper p {
    font-size: 32px;
    max-width: 100%;
    line-height: 32px;
  }
  #features div.item div.wrapper {
    display: block;
  }
  #features div.item div.wrapper div.item-desc {
    width: 50%;
    margin-bottom: 30px;
  }
  #features div.item div.wrapper div.item-desc h3 {
    font-size: 40px;
    line-height: 1;
  }
  #features div.item div.wrapper div.item-desc p {
    font-size: 16px;
  }
  #features div.item div.wrapper div.item-desc a {
    font-size: 16px;
  }
  #features div.item div.wrapper div.item-img {
    width: 100%;
  }
  footer {
    padding: 50px 0px 30px;
  }
  footer div.wrapper {
    width: 95%;
  }
  footer div.wrapper div.top {
    display: block;
  }
  footer div.wrapper div.top div.logo div.logo-container {
    margin-bottom: 60px;
  }
  footer div.wrapper div.top div.logo a {
    display: none;
  }
  footer div.wrapper div.top div.links {
    width: 100%;
  }
  footer div.wrapper div.bottom div.left div.copy p {
    max-width: none;
    font-size: 11px;
  }
  footer div.wrapper div.bottom div.left div.terms a {
    font-size: 11px;
    max-width: none;
  }
  footer div.wrapper div.bottom div.left div.terms a:nth-child(2) {
    display: none;
  }
  footer div.wrapper div.bottom div.left div.social {
    display: none;
  }
}
@media all and (max-width: 767px) {
  header {
    height: 70px;
  }
  #home {
    padding: 70px 0 25px;
  }
  #home div.wrapper div.container {
    border-radius: 20px;
    background-size: 350%;
  }
  #home div.wrapper div.container div.left {
    width: 100%;
  }
  #home div.wrapper div.container div.left div.top {
    margin-bottom: 40px;
  }
  #home div.wrapper div.container div.left div.top h2 {
    font-size: 44px;
    margin-bottom: 10px;
  }
  #home div.wrapper div.container div.left div.top p {
    font-size: 16px;
  }
  #home div.wrapper div.container div.left div.bottom a {
    margin-bottom: 50px;
  }
  #home div.wrapper div.container div.right {
    width: 100%;
  }
  #desc div.wrapper img:first-child {
    display: none;
  }
  #desc div.wrapper img:nth-child(2) {
    display: block;
    width: 70%;
    margin: 0 auto;
  }
  #desc div.wrapper img:nth-child(4) {
    display: none;
  }
  #desc div.wrapper img:nth-child(5) {
    display: block;
    width: 70%;
    margin: 0 auto;
  }
  #desc div.wrapper p {
    font-size: 24px;
    line-height: 1;
  }
  #features div.item div.wrapper div.item-desc {
    width: 100%;
  }
  #features div.item div.wrapper div.item-desc h3 {
    font-size: 32px;
    line-height: 1;
  }
  #features div.item div.wrapper div.item-desc p {
    font-size: 16px;
    line-height: 22px;
  }
  #features div.item div.wrapper div.item-desc a {
    font-size: 16px;
  }
  #features div.item div.wrapper div.item-img {
    width: 30%;
    margin: 0 auto;
  }
  #features div.item div.wrapper div.item-img img:first-child {
    width: 100%;
    display: block;
  }
  #features div.item:nth-child(3) div.wrapper div.item-img img.sub, #features div.item:nth-child(4) div.wrapper div.item-img img.sub {
    margin-top: 55px;
    width: 35%;
    height: auto;
  }
  footer {
    padding: 30px 0px 30px;
  }
  footer div.wrapper div.mobile-download {
    display: flex;
  }
  footer div.wrapper div.mobile-social {
    display: flex;
  }
  footer div.wrapper div.top {
    padding-top: 30px;
  }
  footer div.wrapper div.top div.links {
    flex-wrap: wrap;
  }
  footer div.wrapper div.top div.links div.column {
    width: 50%;
    margin-bottom: 25px;
  }
  footer div.wrapper div.top div.down-social-max1024 {
    display: none;
  }
  footer div.wrapper div.bottom div.left {
    align-items: flex-start;
    flex-direction: column-reverse;
  }
  footer div.wrapper div.bottom div.left div.terms {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  footer div.wrapper div.bottom div.left div.terms a:nth-child(2) {
    display: block;
  }
}
@media all and (max-width: 640px) {
  #features div.item div.wrapper div.item-img {
    width: 40%;
    margin: 0 auto;
  }
  #features div.item div.wrapper div.item-img img:first-child {
    width: 100%;
    display: block;
  }
  #features div.item:nth-child(3) div.wrapper div.item-img img.sub, #features div.item:nth-child(4) div.wrapper div.item-img img.sub {
    margin-top: 58px;
    width: 45%;
    height: auto;
  }
}
@media all and (max-width: 420px) {
  #home {
    padding: 70px 0 25px;
  }
  #home div.wrapper div.container {
    background-size: 450%;
  }
  #home div.wrapper div.container div.right {
    margin-top: 200px;
  }
  #features div.item div.wrapper div.item-img {
    width: 60%;
  }
}/*# sourceMappingURL=style.css.map */